h2 {
    text-align: center;
}
.data {
    text-align: center;
    width: 45%;
    display: inline-block;
    vertical-align: top;
    font-size: 225%;
}
.cityimg {
    width: 45%;
    display: inline-block;
}
img {
    max-height: 100%;
    max-width: 100%;
}